<h1>Hello World</h1>
<p><%= link_to 'Places on Ossington', controller: 'locations' %></P>

<p><%= link_to 'Add a New Place in the Hood', new_location_path %></p>

<p><%= link_to 'Category List', categories_path %></p>

	